# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Logs
# --------------------
logs/
*.log

# --------------------
# Airflow
# --------------------
airflow.cfg
airflow.db
airflow-webserver.pid

# --------------------
# Virtual environments
# --------------------
venv/
.env

dags/config/airflow.cfg
